* {
  box-sizing: border-box;
  color: #fefcfd;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.25em;
}

img {
  object-fit: contain;
}

.section {
  margin-bottom: 4rem;
}
.content-text {
  min-width: 300px;
  max-width: 30%;
}
.image-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 2rem;
  align-items: center;
}
body {
  margin: 0;
  background-color: #0c0716;
}

h1,
h2,
h3{
  font-family: "Playfair Display", serif;
  letter-spacing: 0.1em;
  font-weight: 400;
}
.hero {
  position: relative;
}
.hero-bg {
  -webkit-mask-image: linear-gradient(
    rgb(0 0 0 / 1),
    rgb(0 0 0 / 0.5) 80%,
    rgb(0 0 0/ 0)
  );
  mask-image: linear-gradient(
    rgb(0 0 0 / 1),
    rgb(0 0 0 / 0.5) 80%,
    rgb(0 0 0/ 0)
  );
  filter: brightness(75%);
  object-fit: cover;
  width: 100%;
  height: 550px;
}
.hero-content {
  width: 100%;
  position: absolute;
  z-index: 3;
  text-align: center;
}

.hero-icon {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 15%;
}
.hero-title {
  position: relative;
  margin-bottom: 0px;
}
.caption {
  text-align: center;
  z-index: 3;
  margin-top: 0.25em;
}
.main-nav {
  display: flex;
  justify-content: space-evenly;
  padding: 1.25rem 5rem;
  /* gap: 5rem; */
}
.nav-link {
  font-family: "Playfair Display", serif;
  text-decoration: none;
  letter-spacing: 0.1em;
  font-weight: 400;
  color: #e1e1e1;
}
.nav-link:hover {
  color: white;
}
.symbol-container {
  /* max-width: 300px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

/* Content ============================= */
.container {
  width: 65%;
  max-width: 1200px;
  margin: auto;
  margin-top: 3rem;
}

/* Introduction ============================= */
.introduction-section {
  text-align: center;
  margin-bottom: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.paragraph {
    padding: 3rem;
    padding-top: 0;
    width: 50%;
    min-width: 350px;
}
.paragraph-title {
    margin-bottom: 2rem;
    text-align: center;
}
/* Mechanics =============================== */
.mechanic-block-container .img-paragraph:nth-child(even) {
  flex-direction: row-reverse;
}
.introduction-passage {
  text-align: center;
}
.img-paragraph {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    row-gap: 0rem;
    column-gap: 2rem;
    flex-wrap: wrap;
}
/* .img-paragraph.r-wrap {
  flex-wrap: wrap-reverse;
} */
.mechanic-concept-art {
    width: 30%;
    min-width: 300px;
    /* max-width: 500px; */
}

@media(min-width: 300) {
  .paragraph.mechanic {
    /* flex: 0 0 100%; */
    order: 2;
  }
}
.paragraph.mechanic {
    padding: 0rem;
    min-width: 300px;
}
.concept-art {
  max-width: 48%;
  min-width: 400px;
}
/* Prototype ======================= */
.prototype-container {
  display: flex;
}
.prototype-concept-art {
  width: 60%;
  min-width: 300px;
}
.img-paragraph.reduce-gap {
  gap: 0.5rem;
  text-align: justify;
}

/* Concept art ===================== */
h1 {
  font-family: "Playfair Display", serif;
  letter-spacing: 0.25em;
  text-align: center;
  text-transform: uppercase;
}
.slide-btn {
  background-color: transparent;
  box-shadow: none;
  border: none;
  padding: 3rem 1rem;
  max-height: 10rem;
  cursor: pointer;
}
.icons {
  color: grey;
}
.slide-btn:hover .icons {
  color: white;
}
.slideshow-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 500px;
  /* width: ; */
  margin: 2rem 0;
}
.slide-concept-art {
  max-width: 90%;
  max-height: 450px;
  object-fit: contain;
}
.slideshow-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
  max-width: 800px;
}
video {
  max-width: 100%;
  max-height: auto;
}
.concept-art-caption {
  /* width: 100%; */
  color:lightgray;
  font-size: 16px;
  margin-top: 1rem;
  z-index: 5;
  text-align: center;
}
.boss-concept-art-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 400px;
  padding: 1rem;
}

.boss-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* Footer ==================== */
h4 {
  margin-bottom: 0;
}
footer {
  background-color: #364A44;
  margin-top: 5rem;
  padding: 3rem;
}

.container.footer-container {
  margin-top: 0;
  width: 90%;
  max-width: 1200px;
}
.footer-header {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 64px;
  margin: 1rem;

}
.card-group {
  margin: 4rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.member-card {
  text-align: center;
  /* min-width: 8rem; */
  width: 15rem;
  padding: 2.5rem 1.5rem;
}
.member-potrait {
  width: 125px;
  border-radius: 100%;
}

.quote {
  position: relative;
}
.signature {
  position: absolute;
  bottom: -2rem;
  right: 1rem;
}

